* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



header div {
    width: 19%;
 
    height: 200px;
    margin: 3%;


    background-color: royalblue;
    float: left;
   
}

header div:nth-child(1) {
    background-color: pink;
}

header div:nth-child(2) {
    background-color: plum;
}

header div:nth-child(3) {
    background-color: goldenrod;
}

header div:nth-child(4) {
    background-color: indianred;
}

header div:nth-child(1):hover {
    background-color: black;
}

header div:nth-child(2):hover {
    background-color: blue;
}

header div:nth-child(3):hover {
    background-color: red;
}

header div:nth-child(4):hover {
    background-color: greenyellow;
}


nav {
    background-color: black;
  
    padding: 10px 0 10px 50px;
    margin: 20px 0;

}

nav ul {
    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
}

nav ul li {
    float: left;
    width: 25%;
    margin: 0 10px;

}

nav ul li a:hover {
    background-color: teal;
    color: yellowgreen;
    border-color: violet;
}

nav ul li a {
    font-size: 26px;
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid whitesmoke;
    text-align: center;
    padding: 10px 30px;



}

div.mopstokox {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    text-decoration: solid;
    margin: 20px;
}

div.blog {
    
    max-width: 1280px;
    margin: 40px auto 0;
}

main {
    float: left;
    width: 65%;
    padding: 0px 20px 0 20px;
}

article img {
    width: 200px;
    float: left;
    margin: 20px 20px 20px 0;

}

article p {
    margin-top: 20px;
}

article h1 {
    text-transform: uppercase;
}

aside {

    float: left;
    width: 30%;

}

section.contact {
    background-color: gainsboro;
    padding: 15px;
}

section.contact ul {
    list-style: none;
}

section.contact li{
margin: 10px 0;
}

section.contact li i{
    margin-right: 20px;
    color: pink;

}


section.contact p{
    margin-bottom: 24px;
    
}
section.contact ul li a{
    text-decoration: none;

}
section.contact ul li a:hover{
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.4s;

}

section.contact ul li a:visited{
    text-decoration: none;
    color: black;
}

section.news{
    height: 300px;
    background-color: gainsboro;
    padding: 15px;
    margin-top: 30px;
}



footer {
    background-color: gray;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;

}